---
layout: layout
---
<style>
    .intro-header .site-heading {
        margin: 50px;
    }
    <% if (page["cdn"] === 'header-off'){%>
    header.intro-header {
        background-image: url('<%= page["header-img"] || config["post-default-img"]%>');
    }

    <%} else {%>
    header.intro-header {
        background-image: url('<%- page["header-img"]?config["cdn-url"]+page["header-img"]+config["clip-content"] : config["post-default-img"]%>')
    }
    <% } %>
</style>

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading text-center">
                    <h1><%= page.tag || config.archive.title || config.title || ""%></h1>
                    <span class="subheading"><%= config.archive.description || config.subtitle || "" %></span>
                </div>
            </div>
        </div>
    </div>
</header>
<% 
   var lastYear;
   var lastMonth;
%>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <!-- archive list -->
      <%
        // group posts by year
        const postsByYear = {};
        (page.posts || site.posts).sort('date', 'desc').each(function(post){
          const year = post.date.year();
          if (!postsByYear[year]) postsByYear[year] = [];
          postsByYear[year].push(post);
        });

        const years = Object.keys(postsByYear).sort((a,b) => b - a);
      %>
      <section>
        <% years.forEach(function(year){ %>
          <div class="archive archive-year">
            <h2 class="archive-title">
              <span class="fa fa-archive" style="font-size: 20px;"></span>
              <a style="margin-left: 6px;" href="<%- url_for(config.archive_dir + '/' + year) %>"><%= year %></a>
            </h2>
            <% if (page.month) { %>
              <h4 class="archive-title">
                <%= page.month %> 月
              </h4>
            <% } %>
            <ul class="post-list">
              <% postsByYear[year].forEach(function(post){ %>
                <li class="post-list-item with_section">
                  <div class="post-image-cover-container">
                    <% if (post['header-img']) { %>
                      <img class="" src="<%= post['header-img'] %>" alt="cover">
                    <% } else { %>
                      <img class="" src="https://ui-avatars.com/api/?background=f5f5f5&name=<%= post.title.slice(0, 2) %>">
                    <% } %>
                  </div>
                  <section class="post-list-item-section">
                    <p>
                      <a href="<%= url_for(post.path) %>"><%= post.title %></a>
                    </p>
                    <% if (post.subtitle && post.subtitle.length) { %>
                      <p class="post-subtitle">
                        <%= post.subtitle %>
                      </p>
                    <% } %>

                    <time datetime="<%= post.date.toISOString() %>">
                      <a href="<%- url_for(config.archive_dir + '/' + post.date.format('YYYY/MM')) %>">
                        <%= date(post.date, 'YYYY-MM-DD') %>
                      </a>
                    </time>
                  </section>
                </li>
              <% }) %>
            </ul>
          </div>
        <% }) %>
      </section>
    </div>
  </div>
</div>
